body {
    font-family: Arial, sans-serif;
    background: #f5f7ff;
    margin: 0;
    padding: 0;
}

.container {
    width: 520px;
    margin: 60px auto;
    padding: 30px;
    background: white;
    border-radius: 14px;
    box-shadow: 0px 4px 18px rgba(0,0,0,0.2);
    text-align: center;
}

h1 {
    font-size: 42px;
    margin-bottom: 5px;
}

.subtitle {
    font-size: 16px;
    color: gray;
    margin-bottom: 25px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    text-align: left;
    font-weight: bold;
    margin-top: 12px;
}

input {
    padding: 10px;
    margin-top: 6px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

button {
    margin-top: 22px;
    padding: 12px;
    border: none;
    border-radius: 10px;
    background: #4a63ff;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: #2f44d6;
}

.result-box {
    margin-top: 30px;
    padding: 20px;
    background: #eef2ff;
    border-radius: 12px;
}

.risk {
    font-size: 18px;
    font-weight: bold;
    color: red;
}
